.container {
	width: 100%;
	background-image: url('../images/movie.jpg');
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
}

#row1, #row2 {
	height: 250px;
}

#stats, #result {
	height: 95%;
}
.rowbox {
	height: 95%;
	/* border: 1px solid; */
}
#remaining {
	height: 25%;
	font-size: 18px;
	font-weight: bolder;
	font-style: italic;
}
/*
.hidden {
	display: none;
}
*/
#question {
	height: 65%;
	margin: 2% auto 0 auto;
}
#choices {
	margin-top: 10px;
}
#leftbox p {
	font-size: 24px;
}

.choice-focus {
	color: white;
	background-color: blue;
}
.choice-correct {
	color: white;
	background-color: green;
}
.choice-incorrect {
	color: white;
	background-color: red;
}

#rightbox h4 {
	text-align: center;
}
.thumbnail img{
	max-width: 98%;
	min-height: 210px;
	height: 210px;
	
}
/*
#rightbox p {
	font-size: 20px;
}
*/
/*
.thumbnail {
	max-width: 98%;
	height: auto;
	width: auto;	
}
.illustration img {
    max-width: 98%;
    height: auto;
    width: auto;
    padding: 8px;
    border: 2px solid #f2f2f2;
    background-color: #fefefe;
    border-radius: 8px;
}*/